//Import Heading font
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

//Import body font
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

//Import Functions
@import "../node_modules/bootstrap/scss/functions";

//Custom Variables


//Custom Colours
$secondary: #0E171B;
$date-color: #848484;
$highlight-colour: #cc5d57;

//Custom fonts
$font-heading: "Lora";
$font-body: "Roboto";

/* Globals */
$linear: linear-gradient(160deg, #cc5d57 0%, #000000 100%);

//Import Variables
@import "../node_modules/bootstrap/scss/variables";
//Import Mixins
@import "../node_modules/bootstrap/scss/mixins";

//styles
.gradient {
    background: $linear;
}



.card {
    &-text {
        color: $date-color;
        @extend .body;
    }
}

.heading {
    font-family: $font-heading;
}

.other-colour {
    color: $highlight-colour;
}

.bg-img {
    max-height: 550px;
    background-color:#0E171B;
    background-blend-mode: overlay;
}

.body {
    font-family: $font-body;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.bg {
    background:url(../../public/images/hair-spies-TNhm6uVurpU-unsplash.jpg) center / cover no-repeat;
    background-color:#444647; 
    background-blend-mode: overlay;
}


.bg-blur {
    background-color: rgba($color: #000000, $alpha: 0.55);
}

.btn {
    border: none;
}


//Import Buttons
@import "../node_modules/bootstrap/scss/buttons";

$custom-theme-colours: (
    "black": #000000,
);

$theme-colors: map-merge($custom-theme-colours, $theme-colors);

//Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

