//Import Heading font
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

//Import body font
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

//Import Functions
@import "../node_modules/bootstrap/scss/functions";

//Custom Variables


//Custom Colours
$secondary: #0E171B;
$date-color: #848484;
$highlight-colour: #cc5d57;
$bg-colour: #080808;

//Custom fonts
$font-heading: "Lora";
$font-body: "Roboto";

/* Globals */
$linear: linear-gradient(160deg, $highlight-colour 0%, #000000 100%);

//Import Variables
@import "../node_modules/bootstrap/scss/variables";
//Import Mixins
@import "../node_modules/bootstrap/scss/mixins";

//styles
.gradient {
    background: $linear;
}

.bg-colour {
    background-color: $bg-colour;
}

.slider:hover::after {
    transform: scaleX(1);
}

.heading {
    font-family: $font-heading;
}

.para {
    font-family: $font-body;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.other-colour {
    color: $highlight-colour;
}

.bg-img {
    max-height: 550px;
    background-color:#0E171B;
    background-blend-mode: overlay;
}

.body {
    font-family: $font-body;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.iconOne {
    width: 100px;
    height: 100px;
}

.imageCards {
    height: fit-content;
}

.bg {
    background:url(../../public/images/hair-spies-TNhm6uVurpU-unsplash.jpg) center / cover no-repeat;
    background-color:#404040; 
    background-blend-mode: overlay;
}

.bg2 {
    background:url(../../public/images/andre-hunter-o48W6ydWSUA-unsplash.jpg) center / cover no-repeat;
    background-color:#424242; 
    background-blend-mode: overlay;
}

.bg3 {
    background:url(../../public/images/christian-koch-mQ4Ty8VmnPk-unsplash.jpg) center / cover no-repeat;
    background-color:#1d1d1d; 
    background-blend-mode: overlay;
}

.bg4 {
    background:url(../../public/images/pexels-mídia-897270.jpg) center / cover no-repeat;
    background-color:#323232; 
    background-blend-mode: overlay;
}

.bg5 {
    background:url(../../public/images/andre-reis-1_DAlXy0wng-unsplash.jpg) center / cover no-repeat;
    background-color:#323232; 
    background-blend-mode: overlay;
}

.bg-blur {
    background-color: rgba($color: #000000, $alpha: 0.55);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: transform 1s ease-in;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


//Import Buttons
@import "../node_modules/bootstrap/scss/buttons";

$custom-theme-colours: (
    "black": #000000,
);

$theme-colors: map-merge($custom-theme-colours, $theme-colors);

//Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

