//Import Heading font
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');

//Import body font
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

//Import Functions
@import "../node_modules/bootstrap/scss/functions";

//Custom Variables


//Custom Colours
$secondary: #0E171B;
$date-color: #2e2e2e;
$highlight-colour: #cc5d57;
$bg-colour: #1b1b1b;
$link:  #dc3545;

//Custom fonts
$font-heading: "Lora";
$font-body: "Roboto";

/* Globals */
$linear: linear-gradient(160deg, $highlight-colour 0%, #000000 100%);

//Import Variables
@import "../node_modules/bootstrap/scss/variables";
//Import Mixins
@import "../node_modules/bootstrap/scss/mixins";

//styles
.gradient {
    background: $linear;
}

.slider-link {
    color: $link;
    position: relative;
}

.slider-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $link;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.slider-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.slider-link:hover {
    color: $link;
}

/* For the footer links */
.slider-link-other {
    position: relative;
}

.slider-link-other::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 40%;
    height: 2px;
    background: $link;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 300ms ease-in;
}

.slider-link-other:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


.bg-colour {
    background-color: $bg-colour;
}


.heading {
    font-family: $font-heading;
}

.para {
    font-family: $font-body;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.other-colour {
    color: $highlight-colour;
}

.bg-img {
    max-height: 550px;
    background-color:#0E171B;
    background-blend-mode: overlay;
}

.body {
    font-family: $font-body;
    line-height: 1.7rem;
    letter-spacing: 1px;
}

.iconOne {
    width: 100px;
    height: 100px;
}

.iconTwo {
    width: 50px;
    height: 50px;
}

.imageCards {
    height: fit-content;
}

.bg {
    background:url(../../public/images/hair-spies-TNhm6uVurpU-unsplash.jpg) center / cover no-repeat;
    background-color:#404040; 
    background-blend-mode: overlay;
}

.bg-login {
    background:url(../../public/images/pexels-lisa-fotios-1895701.jpg) center / cover no-repeat; 
    background-color:#222222; 
    background-blend-mode: overlay;
}

.my-background-image {
    height: 50vh; // Set the height to half the viewport height
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#424242; 
    background-blend-mode: overlay;

    h1 {
        color: #ffffff;
        text-align: center;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); // Add a text shadow to improve readability
      }
}

.home-background-image {
    height: 100vh; // Set the height to half the viewport height
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#424242; 
    background-blend-mode: overlay;

    h1 {
        color: #ffffff;
        text-align: center;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5); // Add a text shadow to improve readability
      }
}

.bg-Text {
    color: $link;
}

.bg2 {
    background:url(../../public/images/andre-hunter-o48W6ydWSUA-unsplash.jpg) center / cover no-repeat;
    background-color:#424242; 
    background-blend-mode: overlay;
}

.bg4 {
    background:url(../../public/images/pexels-mídia-897270.jpg) center / cover no-repeat;
    background-color:#323232; 
    background-blend-mode: overlay;
}

.bg-blur {
    background-color: rgba($color: #000000, $alpha: 0.55);
}


//Import Buttons
@import "../node_modules/bootstrap/scss/buttons";

$custom-theme-colours: (
    "black": #000000,
);

$theme-colors: map-merge($custom-theme-colours, $theme-colors);

//Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap.scss";

